<div class="qmgj-p-list">
    <!-- 筛选区 -->
    <div class="filter-box">
        <div class="filter-group">
            <div class="filter-item">
                <span class="active">全部</span>
                <span>电影</span>
                <span>微电影</span>
                <span>电视剧</span>
                <span>话剧</span>
                <span>音乐剧</span>
            </div>
            <div class="filter-item">
                <span class="active">全部</span>
                <span>电影</span>
                <span>微电影</span>
                <span>电视剧</span>
                <span>话剧</span>
                <span>音乐剧</span>
            </div>
            <div class="filter-item">
                <span class="active">全部</span>
                <span>电影</span>
                <span>微电影</span>
                <span>电视剧</span>
                <span>话剧</span>
                <span>音乐剧</span>
            </div>
        </div>
    </div>
    <!-- 展示区 -->
    <div class="show-box">
        <!-- 展示内容 -->
        <div class="tvList clearfix">
            <section>
                <div class="tvItem">
                    <img src="static/app/images/tvlist.jpg" alt="">
                    <div class="itemInfo">
                        <h1 class="infoH1">《晚秋》再现江湖</h1>
                        <h4 class="infoH4">by 蓝宝公司劳斯莱斯</h4>
                        <p class="infoP">超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司</p>
                        <div>
                            <span class="tv tv1">话剧</span>
                            <span class="tv tv2">卫视推荐</span>
                        </div>
                        <!-- 进度条 -->
                        <div class="process">
                            <div class="processChild" style="width: 20%;"></div>
                        </div>
                        <div class="ulList">
                            <ul class="clearfix ul1">
                                <li class="w1">48%</li>
                                <li class="w2">$ 123</li>
                                <li class="w1">123</li>
                                <li class="w1">123</li>
                            </ul>
                            <ul class="clearfix">
                                <li class="w1">进度</li>
                                <li class="w2">支持金额
                                </li>
                                <li class="w1">支持者
                                </li>
                                <li class="w1">剩余天数</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="tvItem">
                    <img src="static/app/images/tvlist.jpg" alt="">
                    <div class="itemInfo">
                        <h1 class="infoH1">《晚秋》再现江湖</h1>
                        <h4 class="infoH4">by 蓝宝公司劳斯莱斯</h4>
                        <p class="infoP">超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司</p>
                        <div>
                            <span class="tv tv1">话剧</span>
                            <span class="tv tv2">卫视推荐</span>
                        </div>
                        <!-- 进度条 -->
                        <div class="process">
                            <div class="processChild" style="width: 20%;"></div>
                        </div>
                        <div class="ulList">
                            <ul class="clearfix ul1">
                                <li class="w1">48%</li>
                                <li class="w2">$ 123</li>
                                <li class="w1">123</li>
                                <li class="w1">123</li>
                            </ul>
                            <ul class="clearfix">
                                <li class="w1">进度</li>
                                <li class="w2">支持金额
                                </li>
                                <li class="w1">支持者
                                </li>
                                <li class="w1">剩余天数</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="tvItem">
                    <img src="static/app/images/tvlist.jpg" alt="">
                    <div class="itemInfo">
                        <h1 class="infoH1">《晚秋》再现江湖</h1>
                        <h4 class="infoH4">by 蓝宝公司劳斯莱斯</h4>
                        <p class="infoP">超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司</p>
                        <div>
                            <span class="tv tv1">话剧</span>
                            <span class="tv tv2">卫视推荐</span>
                        </div>
                        <!-- 进度条 -->
                        <div class="process">
                            <div class="processChild" style="width: 20%;"></div>
                        </div>
                        <div class="ulList">
                            <ul class="clearfix ul1">
                                <li class="w1">48%</li>
                                <li class="w2">$ 123</li>
                                <li class="w1">123</li>
                                <li class="w1">123</li>
                            </ul>
                            <ul class="clearfix">
                                <li class="w1">进度</li>
                                <li class="w2">支持金额
                                </li>
                                <li class="w1">支持者
                                </li>
                                <li class="w1">剩余天数</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="tvItem">
                    <img src="static/app/images/tvlist.jpg" alt="">
                    <div class="itemInfo">
                        <h1 class="infoH1">《晚秋》再现江湖</h1>
                        <h4 class="infoH4">by 蓝宝公司劳斯莱斯</h4>
                        <p class="infoP">超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司</p>
                        <div>
                            <span class="tv tv1">话剧</span>
                            <span class="tv tv2">卫视推荐</span>
                        </div>
                        <!-- 进度条 -->
                        <div class="process">
                            <div class="processChild" style="width: 20%;"></div>
                        </div>
                        <div class="ulList">
                            <ul class="clearfix ul1">
                                <li class="w1">48%</li>
                                <li class="w2">$ 123</li>
                                <li class="w1">123</li>
                                <li class="w1">123</li>
                            </ul>
                            <ul class="clearfix">
                                <li class="w1">进度</li>
                                <li class="w2">支持金额
                                </li>
                                <li class="w1">支持者
                                </li>
                                <li class="w1">剩余天数</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="tvItem">
                    <img src="static/app/images/tvlist.jpg" alt="">
                    <div class="itemInfo">
                        <h1 class="infoH1">《晚秋》再现江湖</h1>
                        <h4 class="infoH4">by 蓝宝公司劳斯莱斯</h4>
                        <p class="infoP">超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司超模明星足球队授权电影制作公司</p>
                        <div>
                            <span class="tv tv1">话剧</span>
                            <span class="tv tv2">卫视推荐</span>
                        </div>
                        <!-- 进度条 -->
                        <div class="process">
                            <div class="processChild" style="width: 20%;"></div>
                        </div>
                        <div class="ulList">
                            <ul class="clearfix ul1">
                                <li class="w1">48%</li>
                                <li class="w2">$ 123</li>
                                <li class="w1">123</li>
                                <li class="w1">123</li>
                            </ul>
                            <ul class="clearfix">
                                <li class="w1">进度</li>
                                <li class="w2">支持金额
                                </li>
                                <li class="w1">支持者
                                </li>
                                <li class="w1">剩余天数</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- 翻页区 -->
        <section class="page-group">
        	<span class="page active">1</span>
        	<span class="page">2</span>
        	<span class="page">3</span>
        	<span class="page">4</span>
        	<span class="page">5</span>
        	<span class="omit">...</span>
        	<span class="page">></span>
        	<span class="word">页尾</span>
        </section>
    </div>
</div>
