<div class="qmgj-p-vip">
    <!-- 头像区 -->
    <section class="user-box">
        <div class="user-group clearfix">
            <!-- 头像 -->
            <div class="img-item">
                <img src="static/app/images/userhead.png" alt="">
                <div class="sprite-box">
                    <span class="sprite-phone"></span>
                    <span class="sprite-msg"></span>
                    <span class="sprite-img"></span>
                </div>
            </div>
            <!-- 信息 -->
            <div class="info-item">
                <h1>全民共进<span>下午好！</span></h1>
                <div class="clearfix safe-box">
                    <div class="safe-box1">账户安全等级：</div>
                    <div class="safe-box2">
                        <div style="width: 66%"></div>
                    </div>
                    <div class="safe-box3">中</div>
                </div>
                <p>上次登录时间：{{1477465615812 | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            </div>
        </div>
    </section>
    <!-- 个人信息展示 -->
    <section class="user-section clearfix">
    	<!-- 左侧导航 -->
    	<div class="user-nav">
    		<ul>
    			<li><a ui-sref="vip.main" ui-sref-active="active">个人主页</a></li>
    			<li><a>个人信息</a></li>
    			<li><a>安全设置</a></li>
    			<li><a>关注的圈子</a></li>
    			<li><a>购买记录</a></li>
    		</ul>
    	</div>
    	<!-- 右侧显示  嵌套视图-->
    	<div ui-view class="user-right-section"></div>
    </section>
</div>
